Listen <%=vhost["port"]%>

<VirtualHost *:<%=vhost["port"]%>>
    DocumentRoot <%=vhost["docroot"]%>

    TraceEnable Off

    <% if vhost["proxypass"] then %>
        <% vhost["proxypass"].each do |key,value| %>
            ProxyPassReverse <%=key%> <%=value%>
            ProxyPass <%=key%> <%=value%>
        <% end %>
    <% end %>

    <% if vhost["ssl"] then %>
    SSLEngine on
    SSLProxyEngine on
    SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP

    SSLOptions +StrictRequire

    <Directory />
        SSLRequireSSL
    </Directory>

    SSLProtocol -all +TLSv1 +SSLv3
    SSLCipherSuite HIGH:MEDIUM:!aNULL:+SHA1:+MD5:+HIGH:+MEDIUM

    SSLCertificateFile <%=vhost["ssl"]["cert"]%>
    SSLCertificateKeyFile <%=vhost["ssl"]["key"]%>

    SSLVerifyClient none
    SSLProxyEngine on
    <% end %>

    <Directory "<%=vhost["docroot"]%>">

        # Options included into all dispatcher vhost directory entries
        Order allow,deny
        Allow from all
        Header set X-Frame-Options SAMEORIGIN

        <IfModule disp_apache2.c>
            SetHandler dispatcher-handler
            ModMimeUsePathInfo On
        </IfModule>

        <% if vhost["allow_ssi"] then %>
        <IfModule mod_include.c>
            AddOutputFilter INCLUDES .html
            Options +IncludesNoExec
        </IfModule>
        <% end %>

        Options +FollowSymLinks
        AllowOverride None
    </Location>
</VirtualHost>
