# the load will be balanced among these render instances
/renders
  {
  <% vhost["renders"].each do |id,rend| %>
  /<%=id%>
    {
    # hostname or IP of the render
    /hostname "<%=rend["hostname"]%>"
    # port of the render
    /port "<%=rend["port"]%>"
    #/timeout "7000"
    <% if rend["timeout"] then %>/timeout "<%=rend["timeout"]%>"<% end %>
    }
  <% end %>
  }
